/* Light theme */
:root {
	--text: #222211;
	--bg: #EFEFDE;
}

/* Dark theme */
.dark {
	--text: #EFEFEF;
	--bg: #222211;
}

/* Element style */
body {
	background-color: var(--bg);
	color: var(--text);
}
