/* ---------- Container ---------- */
.container {
    margin: 0px auto 20px;
    padding: 50px 0px 40px;
    max-width: 1000px;
    background-color: #ffffff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.059);
    border-radius: 5px;
}

.container > * {
    width: 90%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.container > .header {
    margin-top: 0px;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;
}

.header > .title {
    margin: 0px 0px 5px;
    padding-left: 15px;
    border-left: 5px solid #29323c;
    font-weight: bold;
}

.sub-title {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    padding-left: 10px;
    border-left: 4px solid #29323c;
    font-weight: bold;
}

.description {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #a3aab1;
    font-style: italic;
}

.container > img {
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    border-radius: 10px;
}

.container > .img-wide {
    margin: 5px 0px;
    border-radius: 0px;
    width: 100%;
    max-width: 100%;
    border-radius: 0;
}

.container > .row {
    width: calc(90% + 20px);
    max-width: 820px;
}

/* ---------- Card ---------- */
.card {
    margin: 10px 0px;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.137);
    transition: box-shadow 0.2s ease-in-out;
}

.card-default{
    color: #29323c;
    background-color: #ffffff;
}

.card-color{
    color: #ffffff;
    background-color: #ff5858;
    background-image: linear-gradient(120deg, #ff5858 0%, #f09819 100%);
}

.card:hover {
    box-shadow: 0px 4px 25px 1px rgba(0, 0, 0, 0.078);
}

.card-header, .card-footer {
    padding: 10px 20px;
    border-radius: 100px;
    position: relative;
    width: 90%;
    max-width: 300px;
    background-color: #ff5858;
    background-image: linear-gradient(120deg, #ff5858 0%, #f09819 100%);
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.card > .card-header {
    margin: 30px auto -20px;
    top: -20px;
}

.card > .card-footer {
    margin: -20px auto 30px;
    bottom: -20px;
}

.card > img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.card > .img-top {
    border-radius: 10px 10px 0px 0px;
}

.card > .img-bot {
    border-radius: 0px 0px 10px 10px;
}

.card > .card-body {
    padding: 15px;
}
